{% extends 'layout.html.twig' %}

{% block body %}
    <div class="c-header">
        <h2>Anuncio <small></small> </h2>
    </div>
    <div class="card">
        <div class="bar-options">
            <h3>Crear Anuncio</h3>
            <a href="{{ path('anuncio_index') }}" class="btn btn-primary">Atras</a>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn palette-Green bg">Registrar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

