<li class="">
    <a href="{{path('ventanilla_index')}}">
        <i class="menu-icon fa fa-list"></i>
        <span class="menu-text"> Ventanilla </span>
    </a>

    <b class="arrow"></b>
</li>
                    