{% extends 'layout.html.twig' %}

{% block body %}
    <div class="c-header">
        <h2>Operador <small></small> </h2>
    </div>
    <div class="card">
        <div class="bar-options">
            <h3>Crear Operador</h3>
            <a href="{{ path('operador_index') }}" class="btn btn-primary waves-effect">Atras</a>
        </div>
        <div class="table-responsive">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn palette-Green bg waves-effect">Registrar</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
